<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery.js"></script>
		<title>Review the Reviewers</title>
	</head>
	<body>
        <div id="header">
            <a href="/">Home</a> | <a href="/reviews">See all Reviewed Reviews</a>

        </div>
		{{{ body }}}
	</body>
</html>